@{
    ViewData["Title"] = "Bem-vindo";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-primary fw-bold">Bem-vindo ao Consulta Médica Confort</h1>
    <p class="lead mt-3">
        Sistema simples e elegante para agendamento e controle de consultas médicas.
    </p>

    <a class="btn btn-primary btn-lg mt-4" asp-controller="Consultas" asp-action="Index">
        📅 Ver Consultas
    </a>
</div>
